<div id="my-trips">

</div>

<ul>
  <% @trips.each do |trip| %>
    <li><%= trip.trip_name %>
      <% trip.activities.each do |activity| %>
      - <%= activity['name'] %>
    <% end %></li>
  <% end %>
</ul>
