<div id="app">
  <ul>
    <% @trips.each do |trip| %>
      <li><%= trip.trip_name %></li>
    <% end %>
  </ul>
</div>

<ul>
  <% @trips.each do |trip| %>
    <li><%= trip.trip_activity %><%= @activity_info %></li>
  <% end %>
</ul>
