<h1>Somerville</h1>

<%= form_for(@zone, method: :get) do |f| %>
  <div class="field">
    <%= f.collection_select(:name, Zone.all, :id, :name, prompt: true) %>
  </div>

  <div class="actions" >
    <%= f.submit "Go!"%>
  </div>
<% end %>
