
<div id="background-img">
<h1 class="small-11 small-centered columns">Somerville</h1>

<%= form_for(@zone, method: :get) do |f| %>
  <div class="field small-11 small-centered columns">
    <%= f.collection_select(:name, Zone.all, :id, :name, prompt: true) %>
  </div>

  <div id="go" class="actions small-11 small-centered columns" >
    <%= f.submit "Go!"%>
  </div>
<% end %>
</div>
