/*Green: #A7C5BD
Off white: #E5DDCB
Orange: #EB7B59
Red: #CF4647
Dark Purple: #524656 */

body {
  background-color: #524656;
  font-family: 'IM Fell Double Pica', serif;
}

h6 {
  font-family: 'Love Ya Like A Sister', cursive;
  color: #E5DDCB;
  margin: 0.5rem 2rem;
  padding: 0.7rem 1rem;
}

h1, h2 {
  color: #E5DDCB;
  font-family: 'Love Ya Like A Sister', cursive;
}

h4 {
  font-family: 'IM Fell Double Pica', serif;
}

#activity {
  height: 500px;
  padding: 10px;
}

#activity-name {
  padding: 0 40% 0 40%;
}

#activity-address {
  padding: 0 40% 0 40%;
}

#activity-description {
  padding: 0 40% 0 40%;
}

#button {
  padding: 0 40% 0 40%;
}

#add-activity {
  background-color: red;
  padding: 10px 50px;
}

#trip-name {
  background-color: #D6D9FF;
  padding: 10px 5px;
  max-width: 20%;
}

#background-img {
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-image: url("/assets/131118_sarma-details_47.jpg");
  background-size: 1300px;
  height: 700px;
  padding: 5% 20%;
}
