/*Green: #A7C5BD
Off white: #e5ddcb
Orange: #eb7b59
Red: #CF4647
Dark Purple: #524656 */

body {
  background-color: #524656;
  font-family: 'IM Fell Double Pica', serif;
}

input {
  background-color: #A7C5BD;
  color: #524656;
  font-family: 'IM Fell Double Pica', serif;
  padding: 0.3rem;
  text-align: center;
  border-radius: 8px;
  outline: 0;
}

label {
  color: #e5ddcb;
}

button:focus {
  outline:0;
}

h6 {
  font-family: 'Love Ya Like A Sister', cursive;
  color: #e5ddcb;
  margin: 0.2rem 0.2rem;
  padding: 0.2rem 0.2rem;
  text-align: center;
}

h1, h2, h3 {
  color: #e5ddcb;
  font-family: 'Love Ya Like A Sister', cursive;
}

h2 {
  padding-left: 10rem;
}

h4 {
  color: #eb7b59;
  font-family: 'IM Fell Double Pica', serif;
}

.flash {
  color: #eb7b59;
  font-family: 'IM Fell Double Pica', serif;
}

.react-button {
  background-color: #cf4647;
  color: #e5ddcb;
  font-family: 'IM Fell Double Pica', serif;
  margin: 0.2rem .4rem;
  padding: 0.4rem .6rem;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0.5px 0.5px 0.2px;
}

.react-button:hover{
  color: #524656;
}

#go input {
  background-color: #CF4647;
  color: #e5ddcb;
}

#main-button {
  text-align: center;
}

#new-delete-button {
  text-align: center;
}

#new-delete-button a {
  font-size: .8rem;
  padding: 0.1rem 1rem;
  background-color: #A7C5BD;
  color: #524656;
  font-family: 'IM Fell Double Pica', serif;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0.5px 0.5px 0.2px;
}

#delete-from-trip {
  margin-top: 1.5rem;
}

#delete-from-trip a {
  width: 8rem;
  background-color: #A7C5BD;
  color: #524656;
  margin: 0.2rem .4rem;
  padding: 0.4rem .6rem;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0.5px 0.5px 0.2px;
}

#button {
  text-align: center;
}

#delete-button {
  margin: 0.1rem 0.3rem 2rem 0.1rem;
  padding: 0.2rem;
}

#select-button {
  margin: 0.1rem 0.3rem 2rem 0.1rem;
  padding: 0.2rem;
  color: #524656;
  background-color: #a7c5bd;
  box-shadow: 0.7px 0.7px 0.4px #e5ddcb;
}

#select-button:hover{
  color: #e5ddcb;
}

#row {
  text-align: center;
}

#row2 {
  text-align: center;
}

#activity {
  padding: 2rem 0;
  text-align: center;
}

#trip-name {
  background-color: #e5ddcb;
  text-align: center;
}
#new-trip {
  padding: 5px 5px;
  margin: 2rem 2rem;
  text-align: center;
}

#first-time {
  margin-top: 100px;
}

#tres-buttons {
  margin-bottom: 3rem;
  text-align: center;
}

.update {
  padding-left: 3.5rem;
  padding-bottom: 3.5rem;
}

#background-img {
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-image: url("/assets/131118_sarma-details_47.jpg");
  background-size: 1300px;
  height: 700px;
  padding: 5% 20%;
}

#activity-title {
  text-decoration: underline;
  text-align: center;
}
#activity-list {
  margin-bottom: 3rem;
  margin-top: 1.5rem;
  text-align: center;
}
