/*Green: #A7C5BD
Off white: #e5ddcb
Orange: #eb7b59
Red: #CF4647
Dark Purple: #524656 */

body {
  background-color: #524656;
  font-family: 'Oswald', serif;
}

p {
  font-size: 1.15rem;
}

li {
  font-size: 1.15rem;
}

a {
  font-size: 1rem;
}

.official-website {
  font-size: 1.2rem;
}

i {
  padding: .1rem;
}

.back-pic {
  width: 100vw;
  min-height: 100vh;
  max-height: 115vh;
  position: fixed;
  z-index: -10000;
  top: 0;
  left: 0;
}

input {
  background-color: #A7C5BD;
  color: #524656;
  font-family: 'Oswald', serif;
  padding: 0.3rem;
  text-align: center;
  border-radius: 8px;
  outline: 0;
  margin-bottom: 2rem;
}

label {
  color: #e5ddcb;
}

button:focus {
  outline:0;
}

h6 {
  font-family: 'Oswald', serif;
  font-size: 1.15rem;
  color: #e5ddcb;
  margin: 0.2rem 0.2rem;
  padding: 0.2rem 0.2rem;
  text-align: center;
}

h1, h2, h3 {
  color: #e5ddcb;
  font-family: 'Love Ya Like A Sister', cursive;
}

h2 {
  padding-left: 10rem;
}

h3 {
  color: #e5ddcb;
  font-family: 'Oswald', serif;
}

h4 {
  color: #eb7b59;
  font-family: 'Oswald', serif;
}

.flash {
  color: #eb7b59;
  font-family: 'Oswald', serif;
  margin: 0;
  background: rgba(0, 0, 0, 0.8);
}

.react-button {
  background-color: #cf4647;
  color: #e5ddcb;
  font-family: 'Oswald', serif;
  font-weight: bold;
  font-size: 1.15rem;
  margin: 0.2rem 0.4rem;
  padding: 0.5rem 0.6rem;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0.5px 0.5px 0.2px;
}

.react-button:hover{
  color: #524656;
}

.charts {
  opacity: 0.8;
  width: 90%;
  margin: 1rem auto 2rem auto;
}

#go input {
  background-color: #CF4647;
  border-radius: 5px;
  color: #e5ddcb;
  padding: .5rem .8rem;
  font-size: 18px;
}

#main-button {
  text-align: center;
}

#new-delete-button {
  text-align: center;
}

#new-delete-button a {
  font-size: 0.8rem;
  padding: 0.1rem 1rem;
  background-color: #A7C5BD;
  color: #524656;
  font-family: 'Oswald', serif;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0.5px 0.5px 0.2px;
}

#delete-from-trip {
  margin-top: 1.5rem;
}

#delete-from-trip a {
  width: 8rem;
  background-color: #A7C5BD;
  color: #524656;
  margin: 0.2rem .4rem;
  padding: 0.4rem .6rem;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0.5px 0.5px 0.2px;
}

#delete-from-trip a:hover{
  background-color: #cf4647;
  color: #e5ddcb;
  box-shadow: 0.5px 0.5px 0.2px;
}

#neighborhoods {
  margin: 1.5rem 0;
  text-align: center;
}

#neighborhoods a {
  width: 8rem;
  background-color: #A7C5BD;
  color: #524656;
  margin: 0.2rem .4rem;
  padding: 0.4rem .6rem;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0.5px 0.5px 0.2px;
}

#neighborhoods a:hover{
  background-color: #cf4647;
  color: #e5ddcb;
  box-shadow: 0.5px 0.5px 0.2px;
}

#button {
  text-align: center;
  margin-bottom: 3rem;
}

#delete-button {
  margin: 0.1rem 0.3rem 2rem 0.1rem;
  padding: 0.2rem;
}

#select-button {
  margin: 0.1rem 0.3rem 2rem 0.1rem;
  padding: 0.2rem;
  color: #524656;
  background-color: #a7c5bd;
  box-shadow: 0.7px 0.7px 0.4px #e5ddcb;
}

#select-button:hover{
  color: #e5ddcb;
}

#row {
  text-align: center;
  padding-bottom: 1rem;
}

#row2 {
  text-align: center;
}

.activity {
  text-align: center;
  background: rgba(0, 0, 0, 0.8)
}

#app {
  background: rgba(0, 0, 0, 0.8)
}

#trip-name {
  background-color: #e5ddcb;
  text-align: center;
}
#new-trip {
  padding: 5px 5px;
  margin: 2rem 2rem;
  text-align: center;
}

#first-time {
  margin-top: 100px;
}

#tres-buttons {
  margin-bottom: 3rem;
  text-align: center;
}

#react-alert {
  text-align: center;
}

.update {
  padding-left: 3.5rem;
  padding-bottom: 3.5rem;
}

.google-results {
  color: #e5ddcb;
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.2rem;
}

$images: ("/assets/131118_sarma-details_47.jpg", "/assets/sarma.jpg", "/assets/fish.jpg", "/assets/bench.jpg", "/assets/map.jpg");

$img: nth($images, random(length($images)));

#background-img {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url($img);
  background-size: cover;
  height: 105vh;
  width: 100vw;
}

.overlay {
  background: rgba(0,0,0,0.2);
  height: 115vh;
  width: 100vw;
}

.overlay2 {
  background: rgba(0,0,0,0.2);
  height: 115vh;
  width: 100vw;
}

#home {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  padding: 1.5rem 0 0 0;
}

.menu {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  padding: 0 2.5rem;
}

.activity-name {
  margin-top: 2.2rem;
}

#activity-title {
  text-align: center;
  margin-top: 2rem;
}

#activity-list {
  margin-bottom: .2rem;
  text-align: center;
}

h6 a:hover {
  color: #CF4647;
}

#tag {
  background: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  color: #e5ddcb;
  margin: .5rem 4rem;
  padding: 0.8rem;
  text-align: center;
  font-family: 'Love Ya Like A Sister', cursive;
}

#index {
  margin-bottom: 1rem;
  text-align: center;
  border-bottom: 2px solid #e5ddcb;
  width: 300px;
}

#user-trips {
  padding-left: 2rem;
}
